[2018-06-10 20:52] borislit opened #3 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-10 20:59] #3 closed

[2018-06-21 10:45] borislit opened #4 "Base class is being imported in the source file when child class is exported"

[2018-06-21 12:43] itaibenda opened #5 "Convert a stateless component to a stateful one"

[2018-06-21 12:43] itaibenda opened #6 "Convert a stateful component to a stateless one"

[2018-06-21 12:44] itaibenda opened #7 "Extract JSX to function"

[2018-06-21 12:51] itaibenda opened #8 "Make refactor options context aware"
"Lightbulb" like experience: allow to extract to a file, same file in global context, class, etc.

[2018-06-21 12:54] itaibenda opened #9 "Import extracted components to the newly created file"

[2018-06-25 08:14] borislit opened #10 "Handle context references when extracting components"

[2018-06-27 12:59] borislit commented on #5
Close with #11

[2018-06-27 12:59] #5 closed

[2018-06-27 13:20] #8 closed

[2018-06-27 16:09] borislit opened #12 "Error "TypeError: this._state.then is not a function" when "glean.switchToTarget" is true"

[2018-06-27 16:12] borislit commented on #12
Fixed by https://github.com/wix-incubator/vscode-glean/commit/4ccb825374017ab3fd138aa245439016bd67550b

[2018-06-27 16:12] #12 closed

[2018-06-27 16:55] #4 closed

[2018-06-27 16:58] borislit commented on #4
:tada: This issue has been resolved in version 3.0.2 :tada:

The release is available on [GitHub release](https://github.com/wix-incubator/vscode-glean/releases/tag/v3.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-28 15:58] borislit opened #13 "[Extract to Component ]React Stateful Component methods are replaced by this.props reference when creating input to new component instance"

[2018-06-28 16:01] #13 closed

[2018-06-28 16:04] borislit commented on #13
:tada: This issue has been resolved in version 3.0.5 :tada:

The release is available on [GitHub release](https://github.com/wix-incubator/vscode-glean/releases/tag/v3.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-01 10:14] Jefoss commented on #6
implemented basic functionality in b375bcd

[2018-07-05 09:01] borislit opened #14 "Stateless to Stateful refactoring crashes if the component includes props destructuring"

[2018-07-05 09:02] #14 closed

[2018-07-05 09:13] borislit commented on #14
:tada: This issue has been resolved in version 3.2.4 :tada:

The release is available on [GitHub release](https://github.com/wix-incubator/vscode-glean/releases/tag/v3.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-08 09:48] borislit opened #17 ""this" is not being replaced by "const" for properties inside render function"

[2018-10-10 15:51] iddan opened #18 "Why isn't this a PR to VSCode?"

[2018-10-18 01:22] zackkrida opened #19 ""Convert to Stateful Component" doesn't work with function expressions"
[code]

[2018-10-19 11:40] borislit commented on #18
@iddan  I've heard that idea several time already. Im considering it. Before that happens though, there are several improvements that that need to happen before ill feel comfortable with that idea. I'd love for the community to make this happen :)
Any suggestions and feedback is always welcome.

Thanks

[2018-10-19 11:42] borislit commented on #19
@zackkrida thanks for feedback. I was able to reproduce. Ill handle this ASAP and keep you posed

[2018-10-22 11:13] bengry commented on #18
@iddan I'm not sure that it'll be accepted. After all, VS Code is not exclusively used for React. It might make a cool built-in extension to have (disable-able), but just like a lot of language server extensions aren't built-in, I don't think this one should be either.

[2018-10-22 14:51] MitchLillie commented on #19
I believe this should be tagged Stateless to Stateful. Also having this issue, seeing the error:

[code]

[2018-10-22 19:06] borislit commented on #19
@MitchLillie can you please provide an example of code you are trying to refactor?

[2018-10-22 20:31] kevinbarabash commented on #6
I'm trying to convert the following stateful component to a stateless one but all I get in the menu "Convert to Stateful".
[code]

[2018-10-22 21:04] borislit commented on #19
@zackkrida Fixed by https://github.com/wix/vscode-glean/commit/c9361351eb45e55779758d69d163a836bd264caa

[2018-10-22 21:12] borislit commented on #19
I will release the version with the fix as soon as recent Github issues are resolved.

[2018-10-23 06:53] borislit commented on #19
@zackkrida Released https://github.com/wix/vscode-glean/releases/tag/v3.3.3 that includes the fix

[2018-10-24 13:41] slonoed opened #22 "Consider extracting into language server"
This tool should work perfect as [language server](https://langserver.org).
All editors support this. Vscode has similar UI for actions.

I started tool for refactoring, based on lang server, but never had chance to add complex react refactoring. Check it out [here](https://github.com/slonoed/jsref).

[2018-10-24 14:28] calebeby opened #23 "Cannot read property 'includes' of undefined"
I have been unable to use the "Extract Component" functionality, because each time I tried it I got this error. Even after disabling all other extensions, I still see this error. Any ideas why this might be?

[2018-10-24 14:52] borislit commented on #23
@calebeby  can you provide the exact JSX string you wanted to extract? thanks

[2018-10-24 15:12] calebeby commented on #23
I think it gives me this error no matter what I try to extract, one thing I tried was `<div>Hi</div>`.

By the way, I am using VS Code Insiders, which might be the problem?

[2018-10-24 18:36] borislit commented on #23
@calebeby i was able to reproduce the issue. WIll handle ASAP

[2018-10-25 08:58] DominicTobias commented on #19
Hi I have 4.0.2 but have no option to convert the `const` style of function to a stateful function which is the only reason I installed it!

![no-worky](https://user-images.githubusercontent.com/760314/47488524-78bba180-d83c-11e8-92da-fd718d2618ff.jpg)

[2018-10-25 09:05] borislit commented on #19
@DominicTobias the issue the resst in props. The extension code that detects possible actions on selected code seems to have an issue with that. Will fix it ASAP.
For now, if you convert the props object to simple destructuring or remove it all together and just use "props" parameters - it should work.
![image](https://user-images.githubusercontent.com/1139234/47488954-1a97ba00-d84e-11e8-8f27-4f62

[2018-10-25 09:07] DominicTobias commented on #19
Ah ok thanks :)

On Thu, 25 Oct 2018 at 10:05, Boris Litvinsky <notifications@github.com>
wrote:

[2018-10-25 09:46] borislit commented on #19
@DominicTobias I've added support for the rest operator in props :) Should be available in v4.0.3 :) Check it out!

[2018-10-25 09:46] #19 closed

[2018-10-25 09:53] DominicTobias commented on #19
That was fast! No extra menu option is coming up for me though (in 4.0.3), here's the snipper I'm highlighting:

[code]

[2018-10-25 12:41] borislit commented on #19
@DominicTobias works for me on the latest version:
![image](https://user-images.githubusercontent.com/1139234/47500803-7a04c280-d86c-11e8-8bb4-13c17eaf23c8.png)

[2018-10-25 20:59] zachhardesty7 commented on #6
Tried to convert a stateful class (see below) with useless state to a functional component. The exact error output can be seen below the component. If this isn't the right place to post this log, feel free to move it! I'd be willing to help work on it if I'm given some pointers as I'm a relative beginner.

[code]

[code]

[2018-10-25 22:35] borislit commented on #6
@zachhardesty7 First of all, thanks for the initiative!  Im unable to reproduce your issue. I've ran the refactoring on your exact code and it worked flawlessly. Perhaps you've inaccurately selected the component code?
Keep me posted

[2018-10-25 23:01] borislit commented on #6
@kevinbarabash the issue should be resolved. Please validate

[2018-10-26 04:32] zachhardesty7 commented on #6
@borislit In fact, I'm actually unable to use that command at all on my Windows 10 machine. Just pulled up VSCode on my Kubuntu machine and it worked exactly as expected... I can probably test some more on Windows tomorrow, but if you have any idea of what would help ya, that would be awesome.

[2018-10-26 11:20] lgraubner opened #25 "CPU usage spikes to 100%"
Since I added the extension to VS Code it often increases it's CPU usage to 100%. I disabled it and it looks fine. Anyone experienced this before?

[2018-10-26 15:20] borislit commented on #25
@lgraubner can you provide more info please? OS? Hardware?

[2018-10-27 16:11] borislit commented on #6
@zachhardesty7 It'll take some time for me to test it, as i need to get a Windows machine and going away to a conference. So in a meanwhile, any additional info would be helpful :)

[2018-10-27 16:13] borislit commented on #25
@lgraubner tested it on MacBook Pro 2016 with Sierra and I dont see an issue. Ill be at a conference until EOW. Then ill upgrade the OS and give it a go.

[2018-10-27 19:55] kevinbarabash commented on #6
@borislit it still isn't working for me.  I'm using version 4.0.3.

[2018-10-28 04:01] borislit commented on #6
@kevinbarabash i've tested your exact code on 4.0.3 and it worked fine (see gif below). Can you please create a screen cast of what you are seeing? (you can use Kap or any other app)
![kevin](https://user-images.githubusercontent.com/1139234/47611857-bb68be00-da76-11e8-8481-f7c8087a82d3.gif)

[2018-10-28 04:41] kevinbarabash commented on #6
I was accessing it the action from the command palette instead of the lightbulb icon.  It's working for me.

[2018-10-28 04:43] kevinbarabash commented on #6
One thing that's a little weird though is that it change the name of the component to lowercase.

[2018-10-28 04:50] kevinbarabash commented on #6
Thanks for making this plugin.  It's awesome.  ❤️

[2018-10-28 04:58] kevinbarabash opened #26 "Move type definitions for props and state to new file"
I tried the "move to a new file" command on a component and while it moved the component, it didn't move the type definition for the component's props.  Instead it imports the type definition.  Unfortunately, the original file wasn't exporting the type definition so the new file needs a little cleanup.  I think it'd be better to just move the prop type definition since it's no longer being used in

[2018-10-28 11:46] borislit commented on #6
@kevinbarabash Just pished a fix for lower case issue. Look for it in v4.0.4 :) Thanks

[2018-10-29 14:27] borislit opened #27 "Using Hooks to replace setState calls"
Today, when class components is refactored to the functional component, all setState calls are lost, as there was no equivalent concept. Today, after Hooks have been introduced, they seem to be just that.
It would be awesome to explore such a possibility.
This should be an opt-in feature (using configuration)

[2018-10-29 14:30] borislit opened #28 "Retain Typescript types when converting Stateless component to Stateful (Class) component"
Today, when refactoring is applied, the types are lost. We'd like to fix that

[2018-10-29 21:46] itzsaga opened #29 ""Convert to Stateful Component" Error"
When I try to do "Convert Stateless to Stateful Component" on this code:
[code]
I get this error:
![](https://duaw26jehqd4r.cloudfront.net/items/1c3J3k1O1C2G3U39412R/Image%202018-10-29%20at%2016.45.57.png)

Using 4.0.4

[2018-10-30 11:14] borislit commented on #29
@itzsaga Fixed by https://github.com/wix/vscode-glean/commit/e3bafd918bfdff4f5fae10b8dbf46622da7330b3

Please test on version 4.0.5

[2018-10-30 14:02] chiptus opened #30 "Wrap new component code with fragment only if needed"
Not always I will need a fragment (`<>`) wrapping my new component. It should wrap only when there's more than one element in the root

[2018-10-30 14:04] chiptus opened #31 "Import react for new component"
React is needed to be imported for every component, an import statement should be added to the new component file

[2018-10-30 14:54] borislit commented on #31
@chiptus good point. Its a bit tricky to implement since you may be exporting the component into an existing file. Ill try implementing this ASAP

[2018-10-30 15:08] chiptus commented on #31
can look for the import statement, or otherwise if importing to existing file, don't add the statement

[2018-10-30 15:32] itzsaga commented on #29
Works now. Awesome!

[2018-10-30 15:32] #29 closed

[2018-10-30 15:39] borislit commented on #28
Fixed by https://github.com/wix/vscode-glean/commit/a6ac8a9be8f55b8b8e4f9ec8b563a6d354315cb1

[2018-10-30 15:39] #28 closed

[2018-10-30 15:46] itzsaga commented on #27
When should this be explored? Hooks are still an early stage proposal and I think Dan said it best in this tweet https://twitter.com/dan_abramov/status/1057027428827193344

[2018-10-30 16:54] borislit commented on #31
@chiptus yep. Also various version of import need to be taken into account. For example, Typescript users usually do ` import * as React from 'react'` while babel users do a regular default import.

@chiptus  wanna do a PR? Ill be glad to help

[2018-10-30 17:20] borislit commented on #27
@itzsaga I agree, and for this very reason what i was thinking was to have it as an "opt in" feature which you would turn on through a config parameter. Also, that also means that the code for that feature would have to be isolated.

[2018-10-30 17:22] borislit commented on #30
@chiptus Glad you liked it! Thank you! As for the idea -  I agree completely! If you would like to PR i'd be glad to help. If you don't care of a challenge, Ill probably get to this really soon :)

[2018-10-30 17:32] #6 closed

[2018-10-31 08:15] vrinceanuv opened #32 "Atom extension plans?"
You have ever considered or had in mind Glean for atom? That would be great because I have what I love in Atom already and not looking to move to vscode(tried it though).

@labria ("cc-ing" just one of the team members to not spam all of them)

[2018-10-31 10:21] borislit commented on #32
Hey @valentynv. I've received several requests of that. Unfortunate I've never used atom. However, almost all of the extension is completely decoupled from vscode. You can see all of it in this adapter:
https://github.com/wix/vscode-glean/blob/master/src/editor.ts

If you would like to create the atom version, I would be glad to provide assistance. Basically, ill extract the logic into a separate

[2018-10-31 10:50] borislit commented on #30
@chiptus i've created a naive implementation for now
https://github.com/wix/vscode-glean/commit/24ff2b074f5d2512cbdbea9fe6fe2616108caad2
Check it out in v4.0.7

[2018-10-31 17:51] chiptus commented on #30
I will check it out, thanks!

On Wed, Oct 31, 2018, 12:50 Boris Litvinsky <notifications@github.com wrote:

[2018-11-01 07:39] vrinceanuv commented on #32
@borislit nor very familiar with making plugins, but I'll tell you this. Will start looking into it, play with it, and after that, I am sure we can start doing that.

How does that sound?

[2018-11-01 08:54] OliverJAsh opened #33 "Suggestion: rename "stateful" and "stateless" to class and function respectively"
Thanks for this amazing project!

Quick suggestion: could we rename "stateful" and "stateless" to class and function respectively? Rationale:

As per https://mobile.twitter.com/dan_abramov/status/1057625147216220162

[2018-11-01 08:56] OliverJAsh opened #34 "Suggestion: annotate function components with `SFC` type"
Thanks for this amazing project!

When converting from class to function components, could we annotate (in TypeScript files) the function component using the `SFC` type?

For example:

[code]

Annotating the type allows the props to be defined outside of the function definition, similar to how classes work. It's also an extra precaution to ensure the function returns the correct types.

[2018-11-01 14:17] borislit commented on #33
Hey @OliverJAsh ! I've also noticed that tweet, and I agree completely. Always hated those terms, but they were better known within the community and they also  fit the terms used in Typescript types definition for React.

Care for a PR?  I'd love to assist/split the work.
Basically, the change involves

- Changing the labels
- Renaming variables and functions within the codebase
- Changing filena

[2018-11-01 14:28] borislit commented on #34
@OliverJAsh one of the latest releases improved class->functional transformation when using TS, but transforming it to `const MyComponent = (props: Props) => <div />;`

Isn't that not sufficient? Could you present the benefits of annotating the variable instead?

[2018-11-01 20:38] OliverJAsh commented on #34
Thank you! ❤️

[2018-11-02 12:28] borislit commented on #32
@vrinceanuv  sound like a plan! Keep me posted in your research and ill do my best to assist!

[2018-11-02 20:49] williamluke4 opened #35 "TSX Support?"
I don't know if this is currently supported but I have tried exporting to a component from a tsx file and it was just blank. Any ideas? And great work its got lots of potential!!! 👍

[2018-11-03 08:45] borislit commented on #35
hey @williamluke4! Thanks for liking the extension :) Can You please post the original component and snippet You've tried to extract? Thanks :)

[2018-11-03 12:19] williamluke4 commented on #35
This is what I was trying to extract
## Snippet
[code]
## Full
[code]

[2018-11-03 16:16] borislit commented on #35
Hey @williamluke4
I've tried your code and it worked for me (see gif below)
Could you please provide more information or preferable and GIF/Video?
![issue-35](https://user-images.githubusercontent.com/1139234/47954607-8091e900-df94-11e8-8a7f-69e2a94ae00a.gif)

[2018-11-03 20:00] AncientSwordRage opened #36 "Extension doesnt work on Windows 10"
Does the extension not work on windows? I'm not sure why else it wouldn't recognise the syscall?

[code]

[2018-11-03 23:14] AncientSwordRage commented on #36
@borislit I have the extension up and running in debug mode in a separate file, but I don't know how I tell the other instance of code to use that as my extension so I can debug it _in situ_ ...?

[2018-11-04 07:43] borislit commented on #36
Basically, once You click the play button (see the screenshot), it should open another instance of vscode, where you can play with the extension. The extension used in the new window should be the local version and not the one from the app market.
![image](https://user-images.githubusercontent.com/1139234/47961525-5d5b4e00-e015-11e8-9c8a-333efd60333a.png)

Its important note, that your VScode is s

[2018-11-04 09:35] AncientSwordRage commented on #36
So I've run through the codea few times, and it looks like it's creating the content for the new file, and the replacement snippet, but it's not actually inserting any text. I didn't see any errors.

Sometimes the paths it was finding seemed to be formed like `d:/path\with\odd\slashes`  with some of the slashes backwards. Other than that it seemed ok. Still doesn't replace the selected text with t

[2018-11-04 10:03] borislit commented on #36
First of all, thanks for your time!
Second of all, can you please place a breakpoint here: https://github.com/wix/vscode-glean/blob/a07eb2e383e372b3f1bda790b6424a6910acf1aa/src/code-actions.ts#L108

And see what do you get in a `text` variable?

[2018-11-04 10:12] AncientSwordRage commented on #36
I get this as the `text` variable:

[code]

[2018-11-04 11:04] borislit commented on #36
hmm that seems fine. Perhaps we should try looking into target path resolution here:
https://github.com/wix/vscode-glean/blob/a07eb2e383e372b3f1bda790b6424a6910acf1aa/src/code-actions.ts#L22

what value to you get here? is it correct?

[2018-11-04 11:57] AncientSwordRage commented on #36
Here what I've got:

[code]

Just so you know, I've picked `/src` from the folder picker, as the other option ( `"d:\multivariate-hypergeo\src\PopulationInput.js"` make me create a new file) doesn't seem to work and the whole function then fails with
[code]
which seems like a problem

[2018-11-04 12:07] borislit commented on #36
@AncientSwordRage can you try reversing the slashes in the right direction in the debugger (right before it writes to file) and see if it helps?

Didn't quite get that. Can you elaborate?

[2018-11-04 14:41] AncientSwordRage commented on #36
Hi @borislit not at my computer atm. What I meant was that when I clicked the lightbulb and selected 'Extract Component' it opens the folder selector drop down, that has either '"d:\multivariate-hypergeo\src' or '/src'. If I pick the absolute path, I have to create a new file when it goes to the file selector. If instead at the folder selector stage, I click '/src' then I can choose any file in th

[2018-11-04 22:32] AncientSwordRage commented on #36
Selecting a folder:

![folder selection](https://user-images.githubusercontent.com/5961746/47970691-f4112480-e080-11e8-9312-db4f68eb4a18.png)

If I select the top option (absolute path):

![file selection - abs folder path](https://user-images.githubusercontent.com/5961746/47970716-130fb680-e081-11e8-8650-3620fe83333e.png)
Suggests to create a new file (doesn't work)

If I select `/src` then I get

[2018-11-05 08:07] williamluke4 commented on #35
I'm am getting "Maximum call stack size exceeded" when using glean in any part of the project. What is the best way to debug this so I can provide you with more info?

[2018-11-05 08:56] borislit commented on #35
Once you checkout the repo, please follow the instructions here:
https://github.com/wix/vscode-glean/issues/36#issuecomment-435649266

Then can you please put a breakpoint here:
https://github.com/wix/vscode-glean/blob/a07eb2e383e372b3f1bda790b6424a6910acf1aa/src/code-actions.ts#L108

And see what do you get in a text variable?

Also, place a breakpoint here:
https://github.com/wix/vscode-glean/bl

[2018-11-05 08:59] borislit commented on #36
@AncientSwordRage can you please provide the code of the origin file and the snippet you are trying to export? Ill have a window machine today

[2018-11-05 09:01] borislit commented on #35
@williamluke4 you are getting the error on the same code and code snippet as the original one?

[2018-11-05 09:20] AncientSwordRage commented on #36
Here's the repo/code snippet:

https://github.com/AncientSwordRage/multivaria/blob/master/src/VariableManager.js#L138-L145

[2018-11-05 09:37] borislit commented on #36
@AncientSwordRage works on mac. Anyways, ill debug it in the evening and see where it get me. Ill keep you posted

[2018-11-05 10:35] williamluke4 commented on #35
It doesn't matter where in my project I try, I get the same "Maximum call stack size exceeded" error. Thanks for the instructions, will start digging when I have got some free time :)

[2018-11-05 10:36] borislit commented on #35
Which OS are using (type/version) ?

[2018-11-05 10:39] williamluke4 commented on #35
VS Code 1.28.2
Windows 10 Pro (Version 1803)

[2018-11-05 10:41] borislit commented on #35
Oh, so i guess its the duplicate of https://github.com/wix/vscode-glean/issues/36. There seems to be an issue with Windows 10. Also look into it later today, once i get my hands on a windows machine #

[2018-11-05 10:44] williamluke4 commented on #35
Ok awesome thanks, Boris!

[2018-11-05 15:54] AncientSwordRage commented on #36
@borislit were you able to debug it?

[2018-11-05 15:57] borislit commented on #36
@AncientSwordRage not yet. Ill get home in few hours and get to it

[2018-11-05 15:58] AncientSwordRage commented on #36
@borislit thanks, I just noticed you'd renamed it, that was all.

[2018-11-05 21:45] borislit commented on #36
@AncientSwordRage I've pushed a fixed. Should be in https://github.com/wix/vscode-glean/tree/v4.2.1

The issue seems to be a wrong VScode SDK API i've used to resolve file path URI. Somehow it worked on Mac, but failed on Windows. See the fix here: https://github.com/wix/vscode-glean/commit/29b808ab44385a53e1a3b40c88e5ce27cd4e49fc

Please validate :)

[2018-11-05 21:46] borislit commented on #35
@williamluke4  I've pushed a fixed. Should be in https://github.com/wix/vscode-glean/tree/v4.2.1

The issue seems to be a wrong VScode SDK API i've used to resolve file path URI. Somehow it worked on Mac, but failed on Windows. See the fix here: https://github.com/wix/vscode-glean/commit/29b808ab44385a53e1a3b40c88e5ce27cd4e49fc

Please validate :)

[2018-11-05 23:07] AncientSwordRage commented on #36
@borislit Thanks for the update. I can confirm I no longer get the above error, but I'm now seeing this inthe output window:

[code]

Not sure what's going wrong this time. What steps did you take to make it work for you?

[2018-11-06 02:03] williamluke4 commented on #35
No luck all tho I have found the following error:
`ERR Cannot read property 'superClass' of undefined: TypeError: Cannot read property 'superClass' of undefined`

[2018-11-06 07:11] borislit commented on #36
@AncientSwordRage I've simply took the content of your file, selected the snippet to extract and ran the extract command.
Can you please provide the exact steps you've tried to perform?

[2018-11-06 07:12] borislit commented on #35
Hey @williamluke4. Since this is a duplicate of https://github.com/wix/vscode-glean/issues/36, lets move our conversation there. The author is having the exact same issue your are having. Thank you

[2018-11-06 07:12] #35 closed

[2018-11-06 07:13] borislit commented on #36
@williamluke4 please post see the comment above

[2018-11-06 07:20] AncientSwordRage commented on #36
@borislit images for steps are here: https://github.com/wix/vscode-glean/issues/36#issuecomment-435714480

I selected the code, click the lightbulb, select 'extract component', click '/src', then select , PopulationInput.js'.

If I can figure out how to record the screen I'll do that. In the mean time would you be able to check out the whole repo and see if it still works?

[2018-11-06 08:15] AncientSwordRage commented on #36
@borislit I'll have to record it tonight (GMT) insha'Allah.

Yes that is the exact snippet

[2018-11-06 15:00] williamluke4 commented on #36
@borislit I can confirm upgrading to 4.2.2 fixed this issue

[2018-11-06 15:04] borislit commented on #36
@williamluke4 @AncientSwordRage yey! :) Couldnt be happier. Thank You for your effort! Your contribution is highly appreciated!

[2018-11-06 15:14] borislit commented on #36
@AncientSwordRage can you confirm you are good?

[2018-11-06 21:09] AncientSwordRage commented on #36
YUP THAT'S FIXED!

Thanks for helping me out!

[2018-11-06 21:57] borislit commented on #36
@AncientSwordRage Thank you!

[2018-11-06 21:57] #36 closed

[2018-11-07 15:49] acostaf opened #37 "Extract to component is broken"
Hi Team

Extracting a piece of jsx takes forever to ask for the path then some more secs to ask for the file name and does it, does not do anything else, does not create the file

[2018-11-07 16:22] borislit commented on #37
Hey @acostaf.
What's your OS?
How big is your repository?
Can you post the origin file and the snippet you are trying to extract?

[2018-11-07 16:43] borislit commented on #37
@acostaf can you please post the whole file? Is the repo public?

[2018-11-08 07:44] OliverJAsh opened #38 "Error converting function to class"
When I try to convert this function to a class:

[code]

I get error:

[code]

[2018-11-08 16:16] borislit commented on #38
@OliverJAsh pushed the fix. Look for it in version 4.2.3. Please validate. The logical operator caused trouble :)

[2018-11-08 16:21] OliverJAsh commented on #38
Thank you!

[2018-11-08 16:22] #38 closed

[2018-11-09 09:19] hyphaene commented on #31
I'm also interested in this, I can also participate to the PR if needed.

[2018-11-09 16:31] borislit commented on #31
I love the initiative! Ill be super glad to help out and point you guys in the right direction.
I'd start here: https://github.com/wix/vscode-glean/blob/7d6791f9595bb9be4e5619f566c7c67276599d87/src/code-actions.ts#L25

This is baiscally the implementation of the "extract to component" refactoring, and the part where extracted component is added to the target file

[2018-11-10 07:34] williamluke4 commented on #31
Managed to get a prototype working.
### code-actions.ts
[code]
### get-imports.ts
[code]

[2018-11-10 08:49] wunnle commented on #37
Hey @borislit, interestingly Extract Component never worked for me either (installed glean a last week). I just created a new react app to test, but its still broken.

Basically it creates and empty file but never moves the code. I'm using Win 10, vscode 1.28.2

[2018-11-10 11:53] borislit commented on #37
@wunnle are u selected the absolute path or the relative? there is a known issue when you select an absolute path.
Can you describe steps to reproduce the issue, the origin code and the snippet you are trying to extract?

[2018-11-11 18:12] borislit commented on #31
@williamluke4 Thanks alot! Im having a bit of a hectic week. Ill have look at it ASAP

[2018-11-12 07:09] williamluke4 opened #39 "Beta Release Extension"
@borislit This would be really usful and as Microsoft/vscode/issues/15756 is still open. An alternative would be creating a[ spereate extension](https://github.com/Microsoft/vscode/issues/15756#issuecomment-425287642) to test beta releases.

[2018-11-15 08:53] borislit commented on #39
Hey @williamluke4 i've been actually thinking about this for a while now, especially when implementing support for this like Hooks. The thing is - hooks is still in alpha and will be for a while. Im not sure insiders release will suffice. What would be helpful is a mechanism to opt in into certain features.

[2018-11-17 23:01] zfzackfrost opened #40 "Flow type annotations interfere with Extract Component in normal JS files."
We are not using Typescript but are using Flow instead. It appears that Glean tries process Flow type annotations that are also valid Typescript. In these cases it displays an error like the following:

    unknown node of type "TSTypeCastExpression" with constructor "Node"

 For instance, trying to run glean on the following throws code from our web app causes `Extract Component` to fail:

[code]

[2018-11-19 10:38] borislit commented on #40
@zfzackfrost currently there is no official Flow support. Is that kind of annotation valid for TS?

[2018-11-19 22:37] zfzackfrost commented on #40
Not that exactly. But the the code itself is the same, in terms of characters.
I'm not as familiar with Typescript as I am with flow, but I know that this part of the syntax:
[code]
appears in Typescript functions. My hunch is that Glean is trying to parse Typescript annotations, even in normal JS files.

[2018-11-20 18:42] nickakey opened #42 "Config option for "export default""
Many style guides (like [Airbnb's](https://github.com/airbnb/javascript)) require _single export_ files to use `export default`.

It would be nice if there was a configuration option to default extracted files to `export default`, and to set the relevant import without destructuring.

[2018-11-21 12:19] williamluke4 commented on #39
@borislit That sound like a good idea, I assume the only way to do this would be to add the opt-in functionality to the glean settings?

[2018-11-21 17:50] borislit commented on #42
@nickakey Thanks for the idea! I think it can done quiet easily. Would live a PR. I can point you in the right direction. Otherwise, I will get to it soon myself :)

[2018-11-21 19:08] nickakey commented on #42
I'd be delighted to make a PR. Please point away! :)

[2018-11-27 10:32] borislit commented on #42
Ok, so it goes like this:
First of all, i assume we need a new configuration options:
https://github.com/wix/vscode-glean/blob/master/package.json#L40
Then, u need to handle this in one of the methods called here:
https://github.com/wix/vscode-glean/blob/24ff2b074f5d2512cbdbea9fe6fe2616108caad2/src/parsing.ts#L96
Use this to retrieve the configuration value:
https://github.com/wix/vscode-glean/blo

[2018-11-29 01:56] capaj opened #43 "TypeError: Cannot read property 'superClass' of undefined"
https://github.com/wix/vscode-glean/blob/7d6791f9595bb9be4e5619f566c7c67276599d87/src/modules/jsx.ts#L166

I think that line needs another guard because I am seeing:
[code]

The code I am looking at is just a simple stateless component.

Version 4.2.3

[2018-12-01 21:12] borislit commented on #43
@capaj  Wow ! first of all, thanks for the PR and the issue! Can you please post the snippet you've tried to refactor? Thanks!

[2018-12-01 21:13] borislit commented on #31
@williamluke4 i havent forgotten about this! Its been a bit hectic. Ill get to reviewing this week! Thank you!

[2018-12-02 00:20] capaj commented on #43
I actually get this error whenever I focus any code at all. It doesn't even have to be a stateless component. I got it even with a bash script, with html template, with whatever you can think of.

[2018-12-02 07:55] borislit commented on #43
I see. Does it happen when you select a valid component though? If so, can u post a snippet?

[2018-12-06 10:04] borislit commented on #31
hey @williamluke4, we are back in business :) Can you please create a branch?
AFAIK, you want to import all missing imports, not just React?

[2018-12-06 10:14] borislit commented on #31
BTW, there are several nuances that we needed take into account:
When Glean creates a stateful component, it `extends Component`. So we need to check if there is already an existing import and either add to it (in case the file already contain another component) or add a new one
@williamluke4

[2018-12-07 10:45] williamluke4 commented on #31
Hey @borislit Will have a go this evening

[2018-12-07 11:02] borislit commented on #31
@williamluke4 can you create a branch? Thanks

[2018-12-11 16:33] itzsaga commented on #33
I noticed this as well. Just set a reminder for myself on Jan 2nd after the holidays to see if this is still open. If so, I'll try and find some time to submit the PR. 😃

[2018-12-11 17:34] borislit commented on #33
@itzsaga awesome! I'd love to assisst and point you in the right direction!

[2018-12-21 01:31] capaj opened #48 "offers two code actions even in JSON file"
These two code actions should not be offered outside js/jsx/tsx:
![image](https://user-images.githubusercontent.com/1305378/50319570-56ef3b80-04c8-11e9-91c0-2dc9feba664f.png)

[2018-12-22 11:04] borislit commented on #48
Hmmm. interesting. Should be an easy fix. Care for a PR? I can point you in the right direction :)

[2018-12-23 10:56] capaj commented on #48
for the JSON fix shoud be easy, but currently it suggests these two actions everywhere. Ideally it would only suggested them if a JSX code block is selected.

[2018-12-24 08:40] capaj commented on #48
I think this will always succeed: https://github.com/wix/vscode-glean/blob/da530190356a755d3703c80f96f7ab8509fb7e7b/src/modules/jsx.ts#L16

JSX doesn't really impose any restrictions as to what can be inserted inside `{}`. Any JS expression is valid so I think this would be better refactored into just checking if there is a JSX node inside the selection. Will try to whip up some alternative soluti

[2018-12-28 04:56] rangedsp opened #49 "Can't extract component in .tsx file"
### OS:
Windows 10 Pro 1809

### glean:
4.2.3

### VS Code:
1.30.1 (user setup)

### Scaffolded via:
create-react-app with the new typescript option.

### Code (inside `class extends React.Component<any, IState>`):
[code]

### Popup error:
`Maximum call stack size exceeded`

### Console error:
[code]

[2018-12-29 20:59] borislit commented on #49
Hey @rangedsp , thank for reporting!
Can you post whole original component?

[2019-01-04 16:35] fr3fou opened #50 ""You can only replace a Program root node with another Program node" error when trying to convert a convert a stateless component into a stateful one"
[code]

Here's my code, whenever I try to select the component and try to convert it to a stateful one, I get the following message

`You can only replace a Program root node with another Program node` in an error, coming from VSCode:

![image](https://user-images.githubusercontent.com/1344906/50699058-6be2d780-104f-11e9-8e97-1324a970439f.png)

[2019-01-05 10:48] borislit commented on #50
hey @fr3fou . Thanks for reporting! Ill look at this ASAP and keep you posted!

[2019-01-06 20:55] #50 closed

[2019-01-06 21:01] borislit commented on #50
@fr3fou fixed pushed. Check it out in the last version and keep me posted :)

[2019-01-09 14:15] OliverJAsh opened #51 "Error for simple component conversion"
TS 3.1.6
VS Code 1.30.2
Extension version 4.2.3

[code]

![image](https://user-images.githubusercontent.com/921609/50904751-090b8a80-1419-11e9-96e2-3558657cc6ed.png)

[2019-01-09 14:50] itzsaga commented on #33
@borislit, back! Ready to be pointed in the right direction 😃 outside of just a project search for the two strings.

[2019-01-10 05:48] fr3fou commented on #50
Even after the update, I still get the error :/

[2019-01-10 07:45] borislit commented on #50
@fr3fou Hey. Ill recheck

[2019-01-10 08:20] borislit commented on #50
@fr3fou I see that the version was not released to VScode market. I will release it today

[2019-01-11 14:58] borislit commented on #51
Hey @OliverJAsh ! Thanks for the report. Ill check it out right away. Keep in mind, currently, there is an issue in publishing a new version to the market.

[2019-01-11 17:05] borislit opened #52 "Class Component is created if extracted jsx contains references to method of a parent class component"

[2019-01-13 13:36] borislit commented on #33
@itzsaga hey! Thanks for the initiative :) Ill create a list for ya later tonight :)

[2019-01-20 10:39] borislit opened #53 "Extract Component to same file"
The experience should be similar to VScode's "extract function" refactoring

[2019-01-20 10:41] borislit opened #54 "Extact component to existing file with custom name"
We want to allow extraction of jsx to a new component into an existing file, while being able to choose its name.
Keep in mind - this should also affect the the source file (the import name and the replacement with the component)

[2019-01-20 10:43] borislit opened #55 "Functional component should always be generated for extracted component"
Currently, there is a logic that decides whether or not, we should generate a Class component or Functional. We want Functional to be the only option

[2019-01-20 10:44] dor-itzhaki opened #56 "Contribute snippets to create new stateless/stateful components"

[2019-01-22 15:21] dor-itzhaki opened #57 "Performance: use "async" file system actions instead of their "sync" version"

[2019-01-23 11:08] dor-itzhaki opened #58 "Bug: extract to component modified the last line of an existing target file instead of appending to a new line"

[2019-01-24 06:33] borislit opened #59 "State types are not merges into prop types when typescript is used"

[2019-01-24 07:08] borislit opened #60 "Convert default state to default prop values"

[2019-02-05 21:32] #27 closed

[2019-02-05 21:32] #52 closed

[2019-02-05 21:32] #55 closed

[2019-02-05 21:32] #59 closed

[2019-02-12 08:14] vrinceanuv commented on #32
Haven't forgotten about this. Just had a lot of things to do, will try to find some time.

[2019-02-13 08:23] borislit commented on #33
Hey @itzikkit ! Sorry for not getting back to You! I was busy working on the Hooks support. Now that its here, This change makes ALOT of sense. Later tonight ill point out the places We'll need to change

[2019-03-04 22:45] ecbrodie commented on #51
@borislit I also got this error when doing a simple conversion, although for me it was the other way around. It was in a `.tsx` file, so not sure if Typescript is causing an issue here. Here's some code to try to reproduce the issue, via converting from a stateless to a stateful component (with all code from `export default function Test` to the end of the file highlighted):

[code]

My workspace:

[2019-03-06 08:44] borislit commented on #51
Hey @ecbrodie ! Ill give it another go later today and keep you posted! Thanks for reporting!

[2019-03-06 13:21] ethanx94 commented on #43
Getting this problem as well. Downgraded to 4.2.2 just to to see if an older version helps. It gives the same error so I think it might either be a problem with a new VSCode update or a conflicting extension.

[2019-03-10 06:33] borislit commented on #51
@ecbrodie i found the issue. It has to do with incorrect handling of default prop values. Im working on a fix. meanwhile, if u remove the `= "bar"` it'll work

[2019-03-10 16:51] borislit commented on #51
@ecbrodie https://github.com/wix/vscode-glean/commit/3cf1c6589359902988566ac2fa8cc74dc6fd3881 should fix the issue. It also adds support for `defaultProps`. Tell me how it goes. Thanks

[2019-03-11 17:26] ecbrodie commented on #51
@borislit I just checked the latest version of Glean and it now works without error when there are default prop values. Thank you for the quick turnaround.

Also, I checked the example from the OP (@OliverJAsh) and that conversion also works without error. Thus, with default props, I have confirmed that stateful-to-stateless and stateless-to-stateful conversions are working just fine. I think this

[2019-03-11 21:05] #31 closed

[2019-03-11 21:07] borislit commented on #51
Thanks @ecbrodie ! Glad to help!

[2019-03-11 21:07] #51 closed

[2019-03-13 07:10] maxkomarychev commented on #23
I have the same issue as well. It first happened to me when I tried to apply "Convert Stateful to Stateless Component", but it seems to he happening for any refactoring I'm trying to apply.

Sample code:

[code]

The log I captured in "Output" tab:

[code]

[2019-03-13 08:15] borislit commented on #23
Hey @maxkomarychev! Can you please try and follow the instructions in the error `SyntaxError: Unexpected token, expected ";" (2:13)` and add `;` at the end of your JSX and try to run the refactoring again?

[2019-03-13 14:50] KatSick opened #62 "Extract to component bug in generated code"
Given input

[code]

Extracted generated (Table named) component

[code]

As you can see `keyExtractor` is generated incorrectly

[2019-03-13 15:56] maxkomarychev commented on #23
@borislit

I'm not sure I really follow here but I tried semicolons wherever it would make sense (although style guide in project I'm working on forbids semicolons altogether) and it didn't help.

The piece of code in logs is not my original code, it comes from babel.

[2019-03-14 08:43] borislit commented on #62
@KatSick Thanks for your reporting! ill try getting to this in the coming few days, although PRs are super welcome. Id love to point You in the right direction

[2019-03-14 11:12] KatSick commented on #62
@borislit sounds interesting todo...

[2019-03-23 22:47] borislit commented on #62
@KatSick I found the problem. I hope to have the fix out in coming day or two

[2019-03-25 09:17] dambusm opened #63 "Quoted string literals as object keys break 'Extract Component to File'"
Great plugin! Found an issue- when trying to use the 'Extract component to file' function, if the selected component has a property using an object property accessed via a quoted string literal, it fails with
`Property name expected type of string but got null`

Eg.
This works:
[code]

But this fails:

[code]

[2019-03-26 09:38] borislit commented on #63
@dambusm hey! Glad you like it! Nice catch! Ill have a look at this ASAP, although PR is super welcome! Should be an easy fix

[2019-03-26 17:44] #62 closed

[2019-03-26 17:52] borislit commented on #62
:tada: This issue has been resolved in version 4.10.0 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v4.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-29 19:51] petekp commented on #43
Also getting this error with VSCode `1.32.3`. Using TypeScript.

[code]

[2019-04-01 07:59] borislit commented on #43
Hey @petekp , can you post the snipper u've tried refactoring?

[2019-04-01 15:37] petekp commented on #43
@borislit I'm unable to use the plugin — the commands aren't accessible / don't show up since the plugin doesn't appear to load when my extensions are activated.

[2019-04-01 15:43] borislit commented on #43
@petekp hmmm odd. Can you post the React snipper u've tried to refactor?

[2019-04-02 16:39] rbadapanda opened #64 "following excpetion is seen in developer tools when I navigate into a .js file in my nodejs project"
ERR Cannot read property 'superClass' of undefined: TypeError: Cannot read property 'superClass' of undefined
	at isSupportedComponent (/Users/badapr/.vscode/extensions/wix.glean-4.10.1/out/modules/stateful-to-stateless.js:303:28)
	at Object.isStatefulComp (/Users/badapr/.vscode/extensions/wix.glean-4.10.1/out/modules/stateful-to-stateless.js:310:9)
	at CompleteActionProvider.provideCodeActions (/

[2019-04-02 17:00] borislit commented on #64
@rbadapanda hey! The error is caused just by navigating or are You trying to perform some refactoring?
If so, which once, and which code snippet have you selected? Thanks!

[2019-04-05 00:46] kevinbarabash opened #65 "Config options for "move to a new file""
I'd like to be able to configure both:
- filename convention, e.g. kebab-case vs PascalCase
- whether or not file extensions are added to new imports

[2019-04-08 10:51] timcluyts commented on #43
Having the same issue here on React memo's

`const Rows = memo(({ customer }) => {
    return <span>some layout stuff</span>
}
`

[2019-04-09 08:07] borislit commented on #43
@timcluyts You are getting this error when You select the snippet?

[2019-04-09 08:27] timcluyts commented on #43
@borislit When I put my cursor on memo, but even when I just open the file itself.
Additionally I get following error too:

`[2019-04-09 10:25:57.544] [exthost] [error] TypeError: Cannot read property 'selection' of undefined
	at Object.selectedText (c:\Users\****\.vscode\extensions\wix.glean-4.10.1\out\editor.js:37:30)
	at CompleteActionProvider.provideCodeActions (c:\Users\****\.vscode\extension

[2019-04-09 08:35] borislit commented on #43
@timcluyts Ok, I can reproduce! The fix is on its way :)

[2019-04-09 08:44] #43 closed

[2019-04-09 08:47] borislit commented on #43
:tada: This issue has been resolved in version 4.10.2 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v4.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-09 08:54] borislit commented on #43
@timcluyts can you verify the issue is resolved?
Also, full credit for the fix goes to @capaj ! My bad I haven't merged this earlier!

[2019-04-09 08:56] borislit commented on #43
@timcluyts BTW, What refactoring did you try to perform on the memo component? Perhaps its something we should support

[2019-04-09 08:58] borislit commented on #64
Fixed by https://github.com/wix/vscode-glean/commit/6d127230671395b07510f3b19db904ec61e6e661

[2019-04-09 08:58] #64 closed

[2019-04-09 09:06] borislit commented on #65
@kevinbarabash "Move to new file" is a feature of vscode, not Glean. What am I missing?

[2019-04-09 18:17] timcluyts commented on #43
The issue on "superclass" has indeed been resolved. But - if you open the output window (Extension host) - and go to a memo class and put your cursor on "memo" it will still give the following:
![image](https://user-images.githubusercontent.com/20314637/55824547-570d5880-5b04-11e9-8957-d1480c89b333.png)

For that last question, the thing is that I did not in fact try to refactor. It just ended up

[2019-04-09 18:43] timcluyts commented on #43
I just created a fix for the issue described above.

[2019-04-17 07:23] VytautasT opened #67 "Conversion: a stateful component -> a component connected to Redux"

[2019-04-17 15:00] borislit commented on #67
Hey @VytautasT. Can you elaborate/provide example?

[2019-04-17 15:00] #65 closed

[2019-04-23 09:06] timcluyts commented on #43
@borislit any chance of merging it? I am having to disable Glean because of these issues.

[2019-04-23 09:08] borislit commented on #43
@timcluyts i dont see the PR

[2019-04-23 09:09] borislit commented on #43
@timcluyts Sure. Ill review and merge right away

[2019-04-23 09:10] timcluyts commented on #43
@borislit  https://github.com/wix/vscode-glean/pull/66

[2019-04-23 09:13] borislit commented on #43
@timcluyts Done! Thanks for your contribution!

[2019-04-25 09:35] emattias opened #68 "Add option to disable "Export to file" command"
I would like to make this optional: https://github.com/wix/vscode-glean/blob/d2848eede545dbc1d3876c63a371e829f3c12d45/src/extension.ts#L60

Its mostly in the way for me :)

[2019-05-04 06:43] rbadapanda opened #69 "Please disable the extension for plain text files"

[2019-05-04 07:09] borislit commented on #69
@rbadapanda I agree. This was done intentionally a while back, but is not longer relevant.
Care for a PR? Should be an easy fix
You need to change the activation event here: https://github.com/wix/vscode-glean/blob/master/package.json#L21
We should use `onLanguage` activation event (https://code.visualstudio.com/api/references/activation-events#onLanguage) listing the relevant language(javascript,

[2019-05-06 06:10] rbadapanda commented on #69
@borislit I created a PR for the same.

Thanks

[2019-05-10 16:03] borislit commented on #69
@rbadapanda merged! Thanks!

[2019-05-10 16:18] #69 closed

[2019-06-27 12:51] andreyvital opened #71 "Configuration contains string/RegExp pattern, but no filename was passed to Babel"
I'm getting this error when trying to extract to a file (and even just a component within the file):

[code]

That's the code block I'm trying to extract 👆

[2019-06-28 21:21] borislit commented on #71
Hi @andreyvital ! Interesting use case! Currently im off for the weekend. Ill have a look at it ASAP!

[2019-07-10 14:15] borislit commented on #71
Hey  @andreyvital , I was unable to reproduce the issue.I succesfully managed to extract the svg snippet into its own component. Perhaps I misunderstood the issue?
Here is the test case:

`import React from "react";
class Foo extends React.Component {
  doFoo() {}

  doBar() {}
  render() {
    return (
      <div>
        <svg viewBox="0 0 64 64" width={22} height={22}>
          <path

[2019-07-11 10:36] OliverJAsh opened #72 "Unable to view full paths"
We have some very long path names in our project. Unfortunately these get cut off by this extension—or is it VS Code? Either way, is there something we can do to fix this, and always show the user the full path?

![image](https://user-images.githubusercontent.com/921609/61044205-fe35b080-a3cf-11e9-8595-c559f3dcacae.png)

[2019-07-16 21:53] borislit commented on #72
hey @OliverJAsh. The issue stems from a VScode limitation  as it seems. Not sure what are out options here. Perhaps a tree-like picker - you select a folder, then its chilld, then its child and so on.
Any ideas are welcome

[2019-07-22 15:59] benmonro opened #73 "all image assets in readme are broken links"

[2019-07-22 19:21] borislit commented on #73
Hey @benmonro Thanks for the issue. I can see the images just fine on Github. What am I missing?

[2019-07-22 22:52] benmonro commented on #73
ah you were missing the fact that you're not on my company's network which is apparently blocking github content. 😢

[2019-07-22 22:52] #73 closed

[2019-08-02 16:50] gomesalexandre opened #74 "Conversion : Convert setState calls to set<Field> hook?"
Everything is in the title :)

Instead of deleting the setState calls, we could easily move that to hooks i.e iterate through the setState calls and write their hooks equivalent at the top of the function.

I can have a look ASAP and publish a PoC PR if that's of any interest !

[2019-08-02 20:14] RamyEl-basyouni opened #75 "cannot convert stateful component to hooks one"
Hi,
I tried to use your experiential feature to convert class code base to hooks.
As you explained, i tried to edit the settings file in VSCode located in
**Users/User_name/Library/Application Support/Code/User/settings.json**
with this JSON
{
[code]
but always cannot find the option to convert stateful component to hook.

[2019-08-05 12:08] borislit commented on #75
Hey @RamyEl-basyouni . Your configuration seems to be incorrect. As you can see in the docs,
`glean.experiments` is an array of strings. https://github.com/wix/vscode-glean#gleanexperiments-default-

Hence, it should look as follows: `"glean.experiments": ["hooksForFunctionalComponents"]`

[2019-08-05 12:10] borislit commented on #74
Hey @gomesalexandre. Thanks for the feedback! Luckly, it's already supported, under experimental hook. Add the following your settings.json to `"glean.experiments": ["hooksForFunctionalComponents"]`. You should get full hooks support, including `useEffect`, `useCallback`, in addition to what You've suggested.
Tell me what you think!

[2019-08-05 20:44] jobokai commented on #75
![image](https://user-images.githubusercontent.com/13200689/62493780-f2a39280-b79f-11e9-99ce-2030cf6d3049.png)
I'm having a similar issue and notice this error message when editing the settings.json file. Doing a few conversions it then seems to have a pathing bug:
![image](https://user-images.githubusercontent.com/13200689/62493882-2bdc0280-b7a0-11e9-81bd-ebba308f7c14.png)

Removing the setting t

[2019-08-05 20:49] borislit commented on #75
@jakutis, IMO You can ignore the formatting error. Can you please post the code snippet You are trying to refactor?  Also, which OS are u using? Windows?

[2019-08-05 20:54] jobokai commented on #75
[code]

I'm on a windows machine. Just wanting to test things out, it looks really interesting!

[2019-08-05 21:04] borislit commented on #75
@jobokai This indeed looks like a bug, caused by the last release. Working on the fix now :) Ill keep you posted

[2019-08-05 21:23] #75 closed

[2019-08-05 21:26] borislit commented on #75
:tada: This issue has been resolved in version 4.15.1 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v4.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-05 21:28] borislit commented on #75
@jobokai @RamyEl-basyouni I've just published a new version that should include a fix. Please validate

[2019-08-05 22:24] jobokai commented on #75
I’ll take a look here tonight when I get home from work! Thanks for checking on things

[2019-08-06 08:26] RamyEl-basyouni commented on #75
Hi @borislit ,

First, i have upgraded to the latest version of glean@4.15.1
I tried to update my **settings.json** file as advised
<img width="552" alt="Screen Shot 2019-08-06 at 10 08 03 AM" src="https://user-images.githubusercontent.com/8338424/62522688-7ad27800-b832-11e9-8a7d-eda0dae89fe5.png">

But i always cannot find the option of **convert stateful to stateless component**

Here is the scr

[2019-08-06 13:53] jobokai commented on #75
@borislit I'm also noticing the same thing that @RamyEl-basyouni described.

[2019-08-06 14:54] jobokai commented on #75
I hopped over to my mac setup to see if it was an operating system issue. I had this class that I wrote:
![example2](https://user-images.githubusercontent.com/13200689/62550501-5a0d2100-b838-11e9-93fa-d8d5a2c43fac.png)

When I try to convert it to hooks, I have no options to convert it. I have things turned on in my settings.json.
![example1](https://user-images.githubusercontent.com/13200689/6255

[2019-08-06 16:08] borislit commented on #75
@RamyEl-basyouni I've just checked the gist you've posted and it worked for me. Are you selecting JUST the component or the contents of the whole file?

[2019-08-06 16:19] borislit commented on #75
@RamyEl-basyouni Also, in order to get a more better result, before applying the refactoring, I suggest you change all the instance variables i.e `this.foo` to state variables i.e `this.state.foo`. Besides this being more correct in terms of React, this will produce a more accurate transformation.

[2019-08-07 07:43] ShayNehmad opened #76 "JetBrains WebStorm integration"
Any chance this will be a plugin for WebStorm anytime soon?

[2019-08-07 09:57] borislit commented on #76
Hey @ShayNehmad ! Glad You like the plugin. I'm looking for someone to champion the webstrom integration. There have been plenty of demand for it. The refactoring engine it self (the one that receives the input code and outputs refactored code) is pretty much decoupled from VScode already. If you are up or the challenge, I'd love complete the decoupling into a separate package and all You'll have

[2019-08-07 09:58] #74 closed

[2019-08-08 11:53] ShayNehmad commented on #76
Not soon, sorry. But thanks for asking. I'm putting this on my "project I really want to do" backlog and who knows 🤔

[2019-08-12 16:16] RamyEl-basyouni opened #77 "class instance variables is not to converted to its equivalent useRef in hooks"
while converting stateful component to hook, instances variables in class is not coverted to its equivalent in hooks which is useRef().
https://reactjs.org/docs/hooks-faq.html#is-there-something-like-instance-variablesso any code with syntax:
`this.sView`
should be:
`const sView = useRef()`

[2019-08-12 16:32] RamyEl-basyouni commented on #75
@borislit , ok it is working now, regarding your mention to

i think it will not be perfect to convert instance variables to state variables as the instance variables prevent component from rerendering component which will badly effects performance.

[2019-08-12 16:42] 2012mjm commented on #75
Fix your problem:
https://github.com/wix/vscode-glean/pull/78

[2019-08-12 16:50] 2012mjm commented on #67
[code]

with Hooks
[code]

[2019-08-12 21:08] borislit commented on #67
Interesting @2012mjm. It should be quiet easy to add it. The only concern I have - should this be a separate extension or not? I mean, identifying usage of a certain library can be quiet difficult. WDYT?

[2019-08-12 21:25] borislit commented on #77
I agree @RamyEl-basyouni . I've been pondering about this myself. Care for a PR? I'd love to point you in the right direction?

[2019-08-12 21:27] borislit commented on #75
Merged @2012mjm ! Thanks for the PR!

[2019-08-12 21:27] #53 closed

[2019-08-20 03:23] brownieboy commented on #19
@borislit's sample Button code above doesn't work for me with Glean 4.15.2 on VSCode 1.35.1, running on Windows 10.

That "Convert Stateless..." popup menu option simply doesn't appear.

[2019-08-20 06:59] borislit commented on #19
@brownieboy please provide a code sample you are trying to refactor and ill have a look :)

[2019-08-20 11:05] brownieboy commented on #19
The Button code in this comment above https://github.com/wix/vscode-glean/issues/19#issuecomment-432989189

[2019-08-21 19:56] borislit commented on #19
@brownieboy I was unable to reproduce the issue. See the attached GIF. Note that the option DOESNT show up if u select the imports too. Tell me if i can be of any help
![Kapture 2019-08-21 at 22 51 36](https://user-images.githubusercontent.com/1139234/63463944-dfaee480-c466-11e9-92a0-42e0a40e3839.gif)

[2019-08-21 21:33] brownieboy commented on #19
Thanks for investigating, @borislit .

Still not working for me.  I've tried on two different machines: Windows 10 and Mac OS X Mojave.  I still can't see all the menus.  You can see that I am not highlighting the import statement:

![glean-test](https://user-images.githubusercontent.com/1781909/63469998-d3e71080-c4ae-11e9-80b8-23792098ab1c.jpg)

[2019-09-01 02:38] kevinbarabash opened #79 "Repackage hooks support as a codemod"
I'd like to be able to use the hooks support to upgrade a large number of simple components in my codebase.

[2019-09-01 08:49] borislit commented on #79
Hey @kevinbarabash. I have a plan to extract the refactoring engine into a separate package, to allow it to be ported to other IDEs. This will allow You to use the whole engine without the IDE and simply provide inputs and outputs from the medium of Your choice. The work is already underway, but will take some time to complete.
Meanwhile, you can find the refactoring You've mentioned here: https:/

[2019-09-01 08:51] borislit commented on #19
@brownieboy Sorry for the delay. havent forgotten about this. Just been a bit busy. Ill have all at this ASAP

[2019-09-01 19:35] kevinbarabash opened #80 "Does glean support flow?"
I noticed that TypeScript is mentioned in the README.md but not Flow.  I assume that the omission means that Flow isn't supported, but wanted to double check.

[2019-09-02 07:44] borislit commented on #80
@kevinbarabash You've are correct. However, adding such support should be REALLY trivial. If you are willing to take up the challenge, I'd love to help :)

[2019-09-02 12:53] kevinbarabash commented on #80
It looks like I'd have to change `parsingOptions` to include `"flow"` instead of `"typescript"` based on the current file.  Is that it?  I wonder if it would be easier to have a flow/typescript setting for the plugin.  What would you suggest?

[2019-09-08 06:27] wunnle commented on #42
I would love to have this feature too

[2019-09-08 07:03] borislit commented on #42
@wunnle I hope to get to this soon. However, i'd love a PR. See the instructions above. Its pretty easy

[2019-09-09 16:47] borislit commented on #80
@kevinbarabash I think that would do for initial support, but If you want to support actual Props/State type annotation, You would need to change some of the parsing logic. For example: https://github.com/wix/vscode-glean/blob/master/src/modules/stateful-to-stateless.ts#L380

[2019-09-09 19:02] kevinbarabash commented on #80
Thanks for pointing me to that.

[2019-09-21 09:11] M-Izadmehr commented on #75
@borislit
The settings schema expects glean.experiments to be `string` instead of `array`. I created a small MR #82 which solves this issue.

[2019-10-07 20:33] aeciorc opened #83 "Unable to convert setState(function) to hooks"
I'm unable to convert to class to functions when I use setState with a function argument.
For example:
[code]
The expected output should be:
[code]
But instead I get an error: ""Cannot read property 'forEach' of undefined".

[2019-10-08 10:53] borislit commented on #83
@aeciorc Thanks for the report! Ill have a look ASAP, unless you wanna give it a go yourself :) Thanks

[2019-10-08 18:57] aeciorc commented on #83
Sure, I'll have a try at it

[2019-10-10 09:13] vfonic opened #84 "Cannot open context menu to see the conversion actions"
I'm having some difficulties opening the context menu with the glean actions. If I right-click on the editor side, nothing opens. The only way I can use glean is if, sometimes glean actions present themselves in a "lightbulb's" context menu.

I don't know how to best explain this, so here's a screen recording:
https://www.dropbox.com/s/48jofoz4qlt9srp/Glean.mov?dl=0

[2019-10-10 10:30] jacquesdev commented on #84
Same issue here

[2019-10-12 11:19] borislit commented on #84
Hey @jacquesdev  @vfonic. Basically, glean actions are only available through the lighbulb context menu, as this is the vscode standard for context based actions (i.e make something available only when relevant).
Do you have issues with having the actions appear in the lightbulb?
Can you please post the code snippet u are trying to refactor? I'd be glad to have a look

[2019-10-12 11:56] borislit commented on #83
@aeciorc just a quick update. I've been researching the problem. Glean currently doesnt support passing a function to a state hook. `useState` does support passing a function to its setter, but the problem here is that the object u are passing to `this.setState` can potentially contain multiple state updates and thus need to be inspected. It can be pretty complex since you can have multipe variati

[2019-10-13 07:40] vfonic commented on #84
Hey @borislit!

The issue is that the lightbulb doesn't appear at all. Not the action in the lightbulb, but the lightbulb itself.

Glean doesn't trigger the lightbulb to appear. I can only use glean action when some other extension creates the lightbulb. Then, I _do_ see the glean action.

My current approach is to misspell some word and use Code Spell Checker extension, which creates lightbulb, t

[2019-10-14 18:01] aeciorc commented on #83
Awesome, @borislit, thanks!

[2019-10-22 20:30] aeciorc commented on #84
@vfonic I've noticed that if there are multiple actions and one of them is preferred, the lightbulb appears blue and near the line of code corresponding to that action, rather than above the selected chunk of code. At first this made me think that it was not appearing at all. Maybe the same thing is happening in your case?

[2019-10-22 21:10] vfonic commented on #84
@aeciorc no, I'm pretty sure the lightbulb sometimes doesn't appear at all.

I usually see (blue or yellow) lightbulb only if there's something else that can open that context menu. Are you sure the same is not happening in your case?

[2019-10-25 14:36] borislit commented on #84
guys just a short update. Im on a short vacation. Ill try to help in a week or so when im back

[2019-10-25 14:37] borislit commented on #83
@aeciorc just a short update. IM currently on vacation. Ill have a fix in a week or so when im back

[2019-10-27 02:26] aeciorc commented on #83
Sounds good @borislit, thanks. Meantime I've created a small PR for another small issue I was having: https://github.com/wix/vscode-glean/pull/85

[2019-10-29 14:00] borislit commented on #83
@aeciorc short update. I've done plenty of progress on the solution. I think ill have it ready for review next week.  I have managed to handle most cases (turns out there are several). Currently, the biggest issue is the following use case:
`this.setState(prev =>({
    foo: prev.foo,
    bar: prev.bar
}))`
The issue here is that I'll need to rewrite references to prev.foo and prev.bar.

[2019-10-29 14:46] aeciorc commented on #83
@borislit I see, it can get pretty complicated. Another thing I've noticed is that after the refactoring, we may end up with reference errors if a variable we're passing to setState isn't available on the outer scope. E.g:

[code]
would cause the result to have
[code]
I was thinking about working on a feature that initializes the state with `null` when that happens. What do you think about it?

[2019-10-30 12:17] borislit commented on #83
@aeciorc Boom! It should fully support using functions to update the state now https://github.com/wix/vscode-glean/pull/86
Im releasing a new version now, that will include your PR and this. Check it out. Tell me what you think

[2019-10-30 12:23] borislit commented on #83
Ok i see that there are still some issues. Ill push an additional fix

[2019-10-30 17:16] aeciorc commented on #83
ahaha shoot. Hmu if I there's anything I can do to help

[2019-10-30 19:27] borislit commented on #83
@aeciorc The new version should be up! Check it out (4.18.0)

[2019-10-30 21:47] aeciorc commented on #83
Hey @borislit , I tried it out, the functional setState conversion is working great!  Noticed that this release added one bug though:
If a state hasn't been initialized (either in the constructor or class property), the useState declaration won't be generated for it.
E.g:
[code]
becomes
[code]

Unrelated to the release, I also noticed a case for which converting to hooks might be very hard:

[code

[2019-10-31 08:42] borislit commented on #83
Hey @aeciorc ! So, I've pushed the fix for the first issue. Let me know.
In terms of the second issue - I dont think this should be solved. Its sort of an anti pattern and I think there is no way for it to be expressed with hooks. I mean, you cant do something like `set[type]()`. I mean you can, but in a totally hacky, terrible way.

[2019-10-31 12:13] aeciorc commented on #83
I've tried it with a few test cases, seems to be working perfectly @borislit!
Yes, can't disagree about it being a bad pattern, although it's useful when working with forms because you can give each input a name corresponding to its state and have a single handler `onChange = event => this.setState({[event.target.name]:event.target.value})`
Anyways, thanks for the release, it's definitely gonna he

[2019-10-31 12:14] #83 closed

[2019-10-31 13:23] #77 closed

[2019-10-31 13:24] borislit commented on #77
Hey @RamyEl-basyouni! I've just released a new version that supports `useRef`. I'd love for some feedback

[2019-10-31 13:28] borislit commented on #77
:tada: This issue has been resolved in version 4.19.0 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v4.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 10:50] yyynnn commented on #84
Not working for me too

[2019-11-14 07:56] borislit commented on #84
@yyynnn this is aligned with the rest of VSCode. Code actions that are context based (i.e appear when relevant) should be in the lightbulb menu. Code pallet commands appear no matter what.

Guys, @vfonic @aeciorc Im back and checking the issue

[2019-11-14 08:13] vfonic commented on #84
Thank you, sir!

It works with the lightbulb. But it seems like Glean doesn't trigger the lightbulb appearance. I think that's the main issue. So, if there's something else triggering the lightbulb, I can get the action by clicking on the lightbulb. Otherwise, I'm stuck with no lightbulb.

<p><img src="https://github.com/vfonic/vscode-ada-lightbulb/raw/master/resources/Lightbolb.gif" height="300px

[2019-11-14 08:14] borislit commented on #84
@vfonic Gocha! Ill try to reproduce

[2019-11-14 08:17] vfonic commented on #84
I do agree with @yyynnn, since this seems like something that would be much faster when available from the command menu. I've seen many other extensions easily add things to command menu, that are definitely context-only. Is there some way to give the user the possibility to choose whether or not he wants to be able to kick off this action from the command menu? Maybe some macro or something. I'm

[2019-11-14 08:51] borislit commented on #84
I see what you mean. But wont it be weird to keep checking in the command pallet whether an option has appear or not?
Maybe what would be better is just allow configuring hot keys for each action? So lets say once u have selected your class component you'd just press `cmd + f` or something and wolla. WYDT?

[2019-11-14 09:00] vfonic commented on #84
Yes! If that's possible, that would be perfect!

On Thu, Nov 14, 2019, 09:52 Boris Litvinsky <notifications@github.com>
wrote:

[2019-11-30 21:26] borislit commented on #84
@vfonic a small updated - i haven't forgotten about that your suggestion with the hot keys and plan to include in the next release!

[2019-11-30 22:13] DaveClissold opened #95 "Error message clarification: 'You must pass a scope and parentPath'"
Hi I am getting the following error when trying to convert a react PureComponent to stateless.
[code]
Sorry if this is not the right place, but I am confused and cannot find an answer anywhere.

[2019-12-01 11:46] borislit commented on #95
@DaveClissold Hey! Can you pls post the snippet you are trying to refactor?

[2019-12-11 14:47] borislit opened #96 "Incorrect handling of nested function params"
Example:

[code]

Current:

[code]

Expected:

[code]

[2019-12-11 15:10] borislit opened #97 "Incorrect handling of props"
Input:
[code]

Expected
[code]

Current:
[code]

[2019-12-11 17:05] borislit opened #98 "Extension not working when Class Component inherits from "React.Component""

[2019-12-11 17:20] #98 closed

[2019-12-11 19:29] borislit opened #100 "Error converting from class to functional when class method is passed as a prop to child"
Input:

[code]

[2020-01-05 17:51] #100 closed

[2020-01-05 17:51] #97 closed

[2020-01-06 09:00] #60 closed

[2020-01-06 09:01] borislit commented on #42
@wunnle  @nickakey Its here! Part of version 4.20!
https://github.com/wix/vscode-glean/blob/master/package.json#L70

[2020-01-06 09:01] #42 closed

[2020-01-09 20:01] Arelav commented on #95
I can't put  a production code here however when I try to convert class component to functional it works fine until I put
[code]
in VSCode settings.

[2020-01-09 20:03] borislit commented on #95
@Arelav. Thanks for reporting. Can you try to create a minimal usecase?

[2020-01-09 22:17] Arelav commented on #95
So the minimal example does work without experiment and doesn't when experiment is on.
[code]
Looks like props distructuring is an issue here.

Because this works fine in both cases.
[code]

[2020-02-04 21:12] jedwards1211 opened #104 "Use project's installed version of @babel/core and babel config if possible"
As seen here, the parser only uses some default options: https://github.com/wix/vscode-glean/blob/master/src/parsing.ts#L8

Babel configs can vary widely and the only proper thing to do in any AST-modifying extension is use the project's locally installed version of `@babel/core` and have it load the project's babel configuration.

[2020-02-04 21:15] jedwards1211 opened #105 "Render conditionally doesn't insert { } required for JSXExpressionContainer"
I'd recommend using JSCodeshift or at least Recast to transform the AST

### Before
[code]

### After
[code]

[2020-02-05 07:02] jedwards1211 opened #106 "Stateful/stateless terminology"
Using "Stateful Component" to refer to `React.Component` classes and "Stateless Component" to refer to functional components is a vestige of the way React used to be, now that we have hooks both classes and functions can be stateful or stateless.  Maybe consider switching to the terms "Class Component" and "Function Component"?

[2020-02-08 18:00] borislit commented on #106
Hey @jedwards1211 !Thanks for the issue. Do you have hooks supported turned on? Once you have it activated, You will notice the terminology change. This is under the feature flag, as with pre-Hook React version "state" is actually the major difference between the class and function and it also helps communicate exactly what the extension will do (i.e remove any setState calls and refactor state re

[2020-02-08 18:10] borislit commented on #104
@jedwards1211. Thanks for the awesome suggestions! Using local babel config makes perfect sense (although I will have to merge the config, the extension requires to work, with it). How would you do it? Load `.babelrc` somehow?

As for local version of `@babel/core` - the main issue I see here is version discrepancy. Say you are using version 8 and the extension uses version 7. What happens then?

[2020-02-08 19:06] jedwards1211 commented on #104
Here's how I do it: https://github.com/codemodsquad/jscodeshift-choose-parser/blob/master/index.js

You can always fall back to trying your current parser setup if something fails for the reason you describe.

[2020-02-12 09:15] iaarnio commented on #84
In my case I also had Eslint extension (dbaeumer.vscode-eslint) active and possibly it's lightbulb was overriding Glean lightbulb (as file had also linting problems).

Glean lightbulb became visible after disabling Eslint extension. Sure in the long run I would like to keep them both enabled.

[2020-02-12 18:54] Dogacel opened #107 "Don't show lightbulb when closing tag is not found"
If there is no selected text or selected a fraction of the code, the extension should not show the lightbulb. Because it makes no sense to export single line or partial of a piece of code.

[2020-02-17 10:24] borislit commented on #107
Hey @Dogacel. Can you please elaborate? You mean the lightbulp appears event if no open + close is connected? Can you provide a code sample or a gif/video?

[2020-02-17 10:24] #106 closed

[2020-02-17 10:25] borislit commented on #104
Gocha @jedwards1211 ! Awesome idea. Care for a PR?

[2020-02-19 06:15] jedwards1211 commented on #104
Eventually yeah, about to go on a short vacation though.  Also I need to verify, when using this approach, if the user upgrades their version of `@babel/core`, if the extension could get stuck using the prior version...I assume using `resolve` on each command takes care of that, but I should double check.

[2020-02-24 06:01] anhthii commented on #105
same here

[2020-02-24 07:09] jedwards1211 commented on #105
is there anyone this doesn't happen for?  Maybe it's specific to .js files?

[2020-02-28 21:42] borislit opened #108 "Support conversion of props destructuring within render function"

[2020-03-01 02:00] delewis13 commented on #71
Also seeing the above error message in VSCode when using 'Extract Component' and typing in a filename [e.g. nestedComponent.jsx].

Occurs in minimal example:

[code]

[2020-03-11 09:09] tjx666 opened #109 "babel parse import statement error: Unexpected token"
Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[code]

[2020-03-14 11:21] borislit commented on #109
Hi @tjx666 . Can you provide more info?
What did u try to do? Have u tried refactoring? Can you provide  a snippet?

[2020-03-14 11:39] tjx666 commented on #109
whenever I open this file:

![screenshot_2020-03-14_19-35-41](https://user-images.githubusercontent.com/41773861/76681183-1c247680-662b-11ea-962c-e4a0ad6483b0.png)

conent:
[code]

complete error message:

[code]

[2020-03-14 13:23] #107 closed

[2020-03-14 13:24] borislit commented on #105
Hey @anhthii @jedwards1211  I was able to reproduce an issue. Im currently working on a version that will include several fixes. Including this one

[2020-03-14 14:35] #105 closed

[2020-03-14 14:39] borislit commented on #105
:tada: This issue has been resolved in version 4.20.1 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v4.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-14 14:39] borislit commented on #105
Just release a fix. Pls validate!

[2020-03-15 02:52] anhthii commented on #105
@borislit It works perfectly. Thankyou!

[2020-05-24 10:50] enstulen opened #113 "Lightbulb menu doesn't show conversion actions"
I want to convert a class component to a functional component, but the option doesn't show up in the lightbulb menu.

I downloaded a fresh copy of VsCode so it wouldn't interfere with other extensions, and same thing happens.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/7783861/82752232-e1725380-9dbc-11ea-8663-6da10f4cd61d.gif)

[2020-05-25 09:27] borislit commented on #113
@Hey @enstulen ! Thanks for the issue!
I think this has to do with the fact that u are selecting the whole file content. Try selecting JUST the  component (without the import and export).

[2020-05-25 10:44] enstulen commented on #113
Thanks for the commen! In the GIF, you see that I first select JUST the component, then I try selected everything else too.

[2020-05-25 11:03] borislit commented on #113
Gocha! I'll have a look at it asap!

[2020-05-29 13:32] borislit commented on #113
Hi @enstulen so I found the issue. Will release the fix tomorrow

[2020-05-31 07:50] #113 closed

[2020-05-31 07:53] borislit commented on #113
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-31 07:59] borislit commented on #113
Hey @enstulen ! Check out the new version with the fix

[2020-05-31 10:37] enstulen commented on #113
Awesome, thanks!

[2020-06-08 14:00] OliverJAsh commented on #51
I'm still running into this error, using 5.0.1.

<img width="1025" alt="Screenshot 2020-06-08 at 14 54 20" src="https://user-images.githubusercontent.com/921609/84038504-f099f980-a997-11ea-92f2-973ddf8d1e3d.png">

I also get the same error when I try "wrap with `useMemo`":

<img width="1025" alt="Screenshot 2020-06-08 at 14 55 21" src="https://user-images.githubusercontent.com/921609/84038638-16bf

[2020-06-09 13:11] borislit commented on #51
Hey @OliverJAsh ! Thanks for the report. Will have a look ASAP

[2020-06-24 06:22] RamyEl-basyouni opened #116 "No conversion actions in the displayed lightbulb"
While trying to convert my classes to hooks, I cannot find options of the extension displayed in the light bulb

Please find code which i am trying to convert: https://gist.github.com/RamyEl-basyouni/804880469617e68557fbcba2142419db

And the the gif indicating the steps of producing issue:
https://giphy.com/gifs/RhSeDbDzInlaE3uHGC/fullscreen

Info:
OS: 10.15.4
VSCode Version: 1.46.1
Glean Version:

[2020-06-26 20:34] RamyEl-basyouni commented on #116
Hi Guys,

Any updates regarding this?

[2020-08-25 11:20] mayconmesquita commented on #116
I can't see this option too

[2020-09-26 16:03] njoppi2 opened #120 "Why can't I export this component?"
![Screenshot from 2020-09-26 12-59-00](https://user-images.githubusercontent.com/16853682/94344815-47374c00-fff8-11ea-976c-fcf1e9db82dd.png)

For some weird reason the options to extract this component ↑ don't show up when I click the light bulb.
However, if I select this component ↓, then the option shows up, why is that?

![Screenshot from 2020-09-26 13-02-10](https://user-images.githubuserconte

[2020-10-04 02:32] techsin commented on #51
Also it shows up in non react code everywhere.

[2020-10-31 06:22] JoshuaKGoldberg opened #121 "SFC is deprecated in @types/react"
Hi, thanks for this really useful extension! From the `@deprecated` tag on `React.SFC`:

Personally, I've found `FC` used as `React.FC` to be a more succinct form. Would you accept a PR changing the import?

[2020-12-14 11:40] borislit commented on #121
@JoshuaKGoldberg hey! The new version (just released) auto detects the version of react you are using, and will use FC for newer version. Tell me if the issue is resolved for you

[2020-12-14 11:45] borislit commented on #120
@njoppi2 thanks for the issue! Sorry for late response. Been away for a while. Can you pls paste the code snippet that causes the issues?

[2020-12-14 15:22] JoshuaKGoldberg commented on #121
Perfect :) thanks!

[2020-12-14 15:22] #121 closed

[2020-12-20 02:09] njoppi2 commented on #120
No problem, just to clarify a little more, the only options that appear to me when I select this text is "Extract to constant in enclosing scope" and "Extract to function in module scope"
Here's the select text that didn't work:
<PriceEditingContainer>
            <ButtonContainer>
              <Button kind="available" onClick={() => exportConnectorsPrice(user?.authToken)} visual="secondary" gray

[2021-01-02 23:30] southpolesteve commented on #71
I am also seeing this error when trying to extract a component in TSX

[code]

[2021-01-04 09:43] borislit commented on #71
Thanks guys! Will have a look!

[2021-01-06 13:45] bobbyrenwick commented on #95
Seems like there's the same issue whenever you try to spread `this.props` in JSX too:

[code]

gives the same error

[2021-01-06 21:22] borislit commented on #95
Hey guys! Thanks for reporting! Im on it!

[2021-01-06 21:53] borislit commented on #95
:tada: This issue has been resolved in version 5.1.1 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v5.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-06 21:54] borislit commented on #95
Hey guys. Check out the new release.  It should fix both the issues you've encountered. Pls confirm. Thanks

[2021-01-12 09:19] bobbyrenwick commented on #95
Hi @borislit, I just updated and it fixed the issue. Thanks :+1: I spend so much time moving from old, class based components to functional ones and this is really helping to speed things up!

[2021-01-12 10:08] borislit commented on #95
@bobbyrenwick Super glad to hear that! If you have suggestion on how we can better the extension in order to make it even more useful to you - I'd love to hear your suggestions :)

[2021-01-15 13:43] filipef101 commented on #116
Same, no updates?

[2021-01-17 20:08] omaryoussef commented on #95
Hello! I'm using 5.1.1 and I still see the issue when trying to refactor this:

[code]

[2021-01-18 16:04] danielo515 opened #125 "Extract to file not working"
Issue Type: <b>Bug</b>

The "Extract to file" function on an existing component does not work. It executes the entire wizard, asks for the new file name, and then it creates the new file empty and adds an import line at the top of the current file that imports nothing.

Extension version: 5.1.1
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:30:02.420Z)
OS ver

[2021-01-18 17:22] danielo515 opened #126 "Extract to file not working"
Issue Type: <b>Bug</b>

The "Extract to file" function on an existing component does not work.

Extension version: 5.1.1
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:30:02.420Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz (12 x 2900)|
|GPU Status|2d_canvas: e

[2021-01-19 21:31] borislit commented on #126
Hi!
Thanks for the issue! Could you pls provide a code snippet you have tried to extract @danielo515

[2021-01-20 11:30] danielo515 commented on #126
If I have to be honest with you, any function/component fails.
I think this may be because I use flow instead of typescript and therefore I have the built-in typescript extension disabled. Maybe you depend on some features from them?

But, in any case, here is an example piece of code that failed:

[code]

And here is a small screencast showing you how I used it, and what happened:

https://user-i

[2021-01-27 13:15] borislit commented on #126
Actually currently we don't support Flow at the moment, although I don't see any Flow specific syntax in your snippet.We'll investigate

[2021-01-27 13:16] #125 closed

[2021-01-27 13:19] danielo515 commented on #126
Thanks!

[2021-01-27 16:15] lampapos commented on #126
Hello @danielo515! Could you, plz, provide some extra details about your environment:
- from the screencast looks like you are using some VIM extension - which one?
- when you select text the selection is not visible - how come?)

I'm asking because currently "Extract to File" action works only on highlighted code block (and you should select the entire block - from `export function usePolyglot` t

[2021-01-27 16:30] danielo515 commented on #126
VSCodeVim and VSpaceCode

Probably I didn't selected it. I'm pretty sure I tried with it fully selected, but I can test it again

[2021-01-27 16:37] danielo515 commented on #126
Ok, I tested it selecting the function and this is what happens:

- The new file is no longer empty
- The import is still empty (as I sown on my screencast)
- None of the dependencies are carried along (react, other imports, depending functions, etc)

Not sure if that is the expected behaviour.
Regards

[2021-01-27 16:43] borislit commented on #126
@danielo515 In terms of dependencies, this indeed has to do with you not using typescript. Behind the scene, we are triggering typescript's built-in "import missing dependencies" refactor which brings in all the deps

[2021-01-27 16:44] danielo515 commented on #126
Ok, that makes sense.
I hate having to deactivate the typescript extension, but it is so annoying about not using types on normal JS types... Why can't they just split those... Well, not your problem.
You can close the issue.

Many thanks.

[2021-02-01 18:41] lauridskern commented on #120
I have the same issue

[2021-02-06 15:29] 19007361 opened #128 "Please explain what "VSCode debug sidebar" is?"
I cannot run the extension (it's in my extension list) on an established React app.

[2021-02-08 13:01] 19007361 commented on #128
Your gifs are misleading because they never show you have to click the lightbulb to make it work

[2021-02-08 13:01] #128 closed

[2021-02-22 00:13] pkellner opened #129 "In simple component, seems like parameters not extracted"
I'm having trouble figuring out if this is a limitation of glean or there is something else going on.  Below is a simple component with an extra layer of nesting.

When I "Extract Component" the `sessions.map(...` piece (surrounded by the div), it extracts `id` and `title` but leaves out the array `sessions` so that the refactoring fails.  (code pasted below below).

[code]

Extracted Component:

[2021-03-17 14:22] danielo515 commented on #95
I'm also facing this problem, and it's a pity because I have a bunch of components to transform.
If you are using regular codemods I may take a look if you link it

[2021-03-17 14:32] borislit commented on #95
Hey @danielo515 , ill have a renewed view on the issue ASAP.
I would like to get another snippet that causes the error

[2021-03-19 14:08] #120 closed

[2021-03-19 14:12] borislit commented on #120
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 14:28] #126 closed

[2021-03-19 14:38] borislit commented on #95
@omaryoussef the issue seems to be with function assignment. Once i've removed it - it works. Im working on the fix

[2021-03-19 16:34] #95 closed

[2021-03-19 16:37] borislit commented on #95
:tada: This issue has been resolved in version 5.2.2 :tada:

The release is available on [GitHub release](https://github.com/wix/vscode-glean/releases/tag/v5.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-19 16:39] borislit commented on #95
@omaryoussef  @danielo515 I've just released a new version with the fix. Can you please verify?

[2021-03-20 00:35] omaryoussef commented on #95
@borislit Can confirm the issue was fixed, thank you so much! 🎉

[2021-03-20 12:32] danielo515 commented on #95
I confirm this particular bug was fixed on 5.2.2

[2021-03-20 12:40] danielo515 opened #132 "Unexpected token, expected "," while converting from class to functional component"
This is the error I see on the console:

[code]

Here is a small reproduction example:

[code]

[2021-03-21 08:40] borislit commented on #132
@danielo515 hey. Will check it out :) I assume you tried to convert this to functional component?

[2021-03-21 12:36] danielo515 commented on #132
Yes, exactly. Sorry for not clarify that

[2021-03-22 12:50] sirajalam049 commented on #95
I have 5.2.2 installed, still getting the error :(

[2021-03-22 13:07] borislit commented on #95
@sirajalam049 can you pls provide a code snippet?

[2021-03-24 14:18] oleggrishechkin commented on #79
@borislit Can vscode convert all files in some directory? (i mean use vscode formatting instead of use cli for refactor). I wanna convert all files instead "open one file, convert it, repeat", but i don't know vscode features

[2021-04-07 20:33] borislit commented on #129
Hey! @pkellner Ill have a look ASAP. Thanks for the isseu!

[2021-04-07 21:44] pkellner commented on #129
no rush.

On Wed, Apr 7, 2021 at 1:34 PM Boris Litvinsky ***@***.***>
wrote:

--
Peter Kellner
https://www.linkedin.com/in/peterkellner99
https://twitter.com/pkellner

[2021-04-09 15:40] southpolesteve commented on #71
@borislit Any updates? Does this project depend on Babel being installed or could it be conflicting with my local version of babel?

[2021-04-15 08:16] danielo515 opened #134 "Unexpectec token while converting to class component"
Issue Type: <b>Bug</b>

It fails!

Extension version: 5.2.2
VS Code version: Code 1.55.0 (c185983a683d14c396952dd432459097bc7f757f, 2021-03-30T16:01:05.981Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz (12 x 2900)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>

[2021-04-15 08:18] danielo515 commented on #134
duplicate

[2021-04-15 08:18] #134 closed, assigned to nobody

[2021-04-15 08:19] danielo515 commented on #132
Hello, anyone had a chance to take a look at this?

[2021-04-15 17:40] borislit commented on #132
@danielo515 hey! Ive just tried to convert your code, and succeeded to do so. Tested on version 5.2.2.
Did u select just the class or the whole content?

[2021-04-15 17:55] borislit commented on #71
Hi @southpolesteve. Had hard time finding time recently, but Im on it :)
In terms of babel - since the extension is not installed into your project's node_module - there should be no conflicts.
Which component have you tried to extract? Can you provide a code snippet that reproduced the issue?

[2021-04-22 12:50] danielo515 commented on #132
I just selected the class. Should I select the whole thing?

[2021-04-27 14:44] rohitp-bsf opened #135 "Cannot read property 'specifiers' of undefined"
While converting the Class component to Functional it's throwing the error.

`Cannot read property 'specifiers' of undefined`

How to debug this?

[2021-05-02 11:30] borislit commented on #135
Hey @rohitp-bsf ! Can you pls provide the code snippet you've tried to refactor?

[2021-05-02 11:31] borislit commented on #132
nope. That should be fine. Ill check it out ASAP

[2021-05-12 05:46] ghost commented on #95
I am also getting this error with 5.2.2. You can try it with this repo on the App.js file.
[https://github.com/DevExpress-Examples/DataGrid-How-to-hide-disable-Edit-Form-items-based-on-another-item-s-value](https://github.com/DevExpress-Examples/DataGrid-How-to-hide-disable-Edit-Form-items-based-on-another-item-s-value)

[2021-07-01 11:53] tobiaslins opened #140 "Extension Unresponsive"
- Issue Type: `Bug`
- Extension Name: `glean`
- Extension Version: `5.2.2`
- OS Version: `Darwin x64 20.5.0`
- VS Code version: `1.57.1`

[code]
![image](https://user-images.githubusercontent.com/2978876/124120165-ba805980-da73-11eb-9b03-5ce6e529a781.png)

[2021-07-12 00:55] ghost opened #141 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `glean`
- Extension Version: `5.2.2`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.58.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-07-22 19:23] lexycole commented on #49
Hello vscode-glean team, my vscode is not showing options for 'convert to functional Component'

[2021-07-22 19:52] rangedsp commented on #49
My apologies I completely forgotten to respond to this. I've tried this just now and it's working on latest version of everything. Going to close this issue

[2021-07-22 19:52] #49 closed

[2021-07-22 19:53] rangedsp commented on #49
Hey @lexycole you should open a new issue as that sounds like something unrelated to mine

[2021-07-22 19:57] lexycole commented on #49
Alright

[2021-08-24 21:40] simarmol opened #143 "jsFilesExtensions setting is broken - expects a string"
glean.jsFilesExtensions (Default: [ "js", "jsx", "ts", "tsx" ]) is the description on the repo.

Problem: I noticed I was not getting any quick suggests except 'extract to file' regardless of file type. I believe this suggestion comes from glean.

I tried setting the extension file setting, but I get this:

![2021-08-24_14-40-02](https://user-images.githubusercontent.com/9138378/130693682-2bc7440b

[2021-09-12 14:06] yuvalShalgi227 opened #144 "Error installing vscode.d.ts: Error: Request returned status code: 404"
on npm install there is an error:

Detected VS Code engine version: ^1.23.0
Error installing vscode.d.ts: Error: Request returned status code: 404
Details: <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Error</title>
</head>
<body>
<pre>Cannot GET /api/releases/stable</pre>
</body>
</html>

[2021-10-10 11:33] joshunger opened #146 "Cannot read property 'name' of undefined"
I'm seeing the following error -

[code]

Unfortunately, the source code is private. Is there a way I can dump the logs to get the stack? Thanks.

[2021-11-05 16:27] danielo515 opened #147 "Allow to not use FC<Type>"
Hello again.
Thanks for this time saving extension.
I was wondering if it will be possible to configure it to not use the `FC<Type>` type utility. It is not recommended and not all codebases follow that convention. It is taking me a lot of time to manually change those to the `(props: Type) =>` that we use.

Thanks in advance

[2021-11-09 18:32] danielo515 commented on #132
Hello.
I did some more research on this and I am finding confusing conclusions...
I cloned the repository of the extension, ran a debug session and indeed it fails. I tried debugging the babel code, but it is quite hard, and it usually freezes my debugging session. After a while, I got frustrated, so I put a debug breakpoint before the `const ast = codeToAst(component);` line, copied the component

[2021-11-09 19:03] danielo515 commented on #132
Ok, I found the root of the problem, it is not on the component conversion phase, it happens on this function:

[code]

Specifically on this line: `const ast = codeToAst(file);`. There is something on the entire file that makes the parser to fail. I checked the line where it complains and I didn't saw anything wrong. In fact, this file compiles properly without problem on my TS pipeline, so it sho

[2021-11-10 07:23] danielo515 commented on #132
I modified the code of the mentioned function like this:

[code]

And it modifies the component perfectly, but it does't add the missing imports, which compared to having to convert the component manually it is not a big deal for me. I added the copy to clipboard part to check that the content the parser is getting is correct, and indeed I copied it to the babel repl and it compiles without any pr

[2021-11-10 13:19] danielo515 commented on #132
Good and bad news 😄
The good news is that, while debugging this problem once more, I decided to update babel to a newer version (7.16.x), and that fixes the problem. It no longer throws an unexpected token error.
The bad news is that newer babel versions seems to have some breaking changes on their API, because some parts of the code now complain about providing wrong argument types, but it may be

[2021-11-11 11:01] endersaka opened #148 "undefined: Duplicate declaration "initLoading""
Microsoft Windows 10 Pro, 10.0.19043 Build 19043
Visual Studio Code 1.62.0 (system setup)
glean v5.2.2

I attempted to refactor a class component into a functional component. At the end of the process glean presents an alert displaying the text: `undefined: Duplicate declaration "initLoading"`. You can see it in the following images.

![vscode-glean_2021-11-11 114718](https://user-images.githubuse

[2021-11-16 11:28] danielo515 commented on #132
@borislit will you be open to review a PR to fix this?

[2022-01-07 13:36] amingomezd commented on #116
same here, not working, any context menu on lightbulb or right click.

[2022-02-05 07:15] bogdan-calapod commented on #128
THAT'S WHAT YOU HAVE TO DO TO TRIGGER IT ?!

I swear, just this:

Somewhere, anywhere in the readme would have been a big helper!

[2022-02-10 20:04] regalstreak opened #149 "Converting to class component doesn't work with neovim select mode"
Without neovim (normal mode)
![image](https://user-images.githubusercontent.com/7759208/153487168-d81cff03-65a7-4103-9b62-0c3ab077d028.png)

Neovim (select mode)
![image](https://user-images.githubusercontent.com/7759208/153487208-2d9c4bc2-afc2-46f8-9ada-e6a5f32fee0d.png)

[2022-03-01 20:54] philipaarseth opened #153 "Extreme latency"
Installed Glean today and uninstalled almost immediately as everything extremely slow and caused a 5s delay on IntelliSense.
In Show running extensions it said it was unresponsive and activation time was nearly 5s.

[2022-03-01 21:27] TSMMark commented on #71
I would love to use glean but this problem is blocking me as well. Tried uninstalling and reinstalling glean to no avail

[2022-03-01 21:46] MigHerCas commented on #143
+1

[2022-03-02 08:40] szamanr commented on #76
is there any update on this? or does anyone know a good jetbrains (webstorm, pycharm) alternative?

[2022-03-03 13:10] JoshMcCullough opened #155 "Can't find this extension in VS Code"
I'm running VS Code 1.64.2 on Manjaro and I can't find this extension in the Marketplace, nor can I install it via `Ctrl+P`, `ext install wix.glean <enter>` -- thoughts?

[2022-03-03 16:28] dahei commented on #76
My current version of PhpStorm 2021.3.2 has this feature built-in (so WebStorm should have it already):
<img width="480" alt="CleanShot 2022-03-03 at 17 27 26@2x" src="https://user-images.githubusercontent.com/2070820/156607709-aab37c68-5f91-4e82-b0fc-bde1e90fdb01.png">

[2022-03-08 18:58] victoriomolina commented on #116
+1

[2022-03-09 04:23] bramses opened #156 "Cannot read property `tsAction` of undefined"
<img width="454" alt="Screen Shot 2022-03-08 at 10 22 13 PM" src="https://user-images.githubusercontent.com/3282661/157372361-d10acdcd-ce33-4bc5-b65f-7982d65bd465.png">

Occurs when extracting component to a new file in a NextJS project.

[2022-03-09 14:21] gantoreno opened #157 "Extreme Latency & High Profile Usage"
The extension is causing my VSCode to go absolutely unresponsive and preventing me even from typing or interacting with the editor (I'm using the VIM extension, but still happens with it disabled). This is a message from the VSCode DevTools:

<img width="263" alt="image" src="https://user-images.githubusercontent.com/43397475/157459966-3ae46706-78e4-4728-882e-87314007f272.png">

[2022-03-09 14:58] maurer2 commented on #147
Hello, as a workaround you could use `VFC<Type>` or `VoidFunctionComponent<Type>`.

Cheers

[2022-03-23 15:15] tieje opened #159 "npm install command not working after cloning repo"
`~/Documents/vscode-glean master
❯ npm install

Detected VS Code engine version: ^1.23.0
Error installing vscode.d.ts: Error: Request returned status code: 404
Details: <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Error</title>
</head>
<body>
<pre>Cannot GET /api/releases/stable</pre>
</body>
</html>

npm ERR! code 1
npm ERR! path /Users/thomasfrancis/Documents/vscode-glea

[2022-04-02 14:26] filiptronicek commented on #155
Hey there, @JoshMcCullough, are you using the official bundles distributed by Microsoft and not by chance using [VS Codium](https://vscodium.com/)?

[2022-05-07 19:13] JoshMcCullough commented on #155
Yes, official OSS version.

![image](https://user-images.githubusercontent.com/4859660/167268617-b31bd7ee-3294-4d69-a17b-ef38ea21a91d.png)

[2022-05-08 19:06] filiptronicek commented on #155
@JoshMcCullough I am not sure with what marketplace the OSS version gets bundled with - I would guess none. Can you install / find any other extensions?

You may be using https://open-vsx.org/ where this extension is not yet published.

[2022-05-08 20:00] JoshMcCullough commented on #155
Yep, I replaced the `code` package (from AUR) with the official `visual-studio-code-bin`, instead: https://aur.archlinux.org/packages/visual-studio-code-bin

Found it now. Thanks.

[2022-05-08 20:00] #155 closed, assigned to nobody

[2022-05-20 17:45] zomars opened #163 "Extract to arrow function by default?"
Right now to achieve this I need to open the refactor menu then select "Extract Component", the select the newly extracted component, then "Refactor Function to Class component", then "Convert Class to Function component" and only then I get an arrow function.

Is there a better way to extract a component directly to an arrow function?

[2022-06-01 07:24] Hahlh opened #164 "Settings: Extract to jsx file instead of tsx"
Good day!

For some projects TypeScript is not on the horizon yet.
A setting to change the default file extension to `.jsx` instead of `.tsx` would be wonderful.

[2022-06-02 08:06] Hahlh opened #165 "React Native error: [BABEL] unknown: Preset /* your preset */ requires a filename to be set when babel is called directly."
[code]

This error occurs when trying to extract a component to a file. A filename was specified and the extension works as expected with React in general.

[2022-06-05 15:38] azuramazlan9 commented on #165
In.

[2022-06-24 05:43] sachinit254 opened #166 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `glean`
- Extension Version: `5.2.2`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-24 13:23] devsebastian commented on #76
Webstorm now officially supports this, you can select the elements you want to extract, right-click to open context menu and then select Refactor > Extract Component

[2022-06-28 08:33] EyalShemuel opened #167 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `glean`
- Extension Version: `5.2.2`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.68.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-06-29 10:34] tangweizhi commented on #148
me too! how to fix

[2022-07-11 23:57] olee commented on #157
Same here. While it was working fine in one project, when I recently opened an older big project, everything got totally unresponsive: File search, typescript, etc.
Took me quite a while to figure out it was this extension which caused the issues.

[2022-07-29 18:41] ankitprahladsoni commented on #148
instead of destructure statement here `const { initLoading, loading, list } = this.state;`, access all variables directly from `this.state` everywhere.
The extension will work after this

[2022-07-31 14:25] endersaka commented on #148
Thanks. I'll try it.

[2022-08-14 05:15] gfang200 opened #168 "No props validation for Typescript users?"
Does Glean support typing props when extracting components?

**For example, extracting the middle component:**
[code]

**returns a functional component where hello is cast as any**
[code]

**I'm wondering if it's possible infer and set the prop type, or do I need to set it manually in all cases?**
[code]

[2022-08-16 02:50] swd72 opened #169 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `glean`
- Extension Version: `5.2.2`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.70.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-08-16 02:51] swd72 commented on #169
vscode so slow

[2022-09-05 01:34] KiligFei commented on #116
+1

[2022-09-20 11:02] hughlilly opened #170 "useEffect refactoring suggestion is overzealous"
The useEffect suggestion pops up almost everywhere. Can the conditions which cause it to be suggested be toned down?

[2022-11-24 01:27] luisrudge opened #172 "When converting from class to function components, useCallback doesn't convert the parameters"
<img width="1985" alt="image" src="https://user-images.githubusercontent.com/941075/203673843-534188bb-c76e-4645-a531-592ef005d57e.png">

When you have a class function, it converts to useCallback but doesn't convert the parameters, making the functions unusable